body{
    background-image: url("img/FONDO.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    background: #fff;
    box-shadow: 0px 0px 5px black;
    text-align: center;
}

li{
    text-align: justify;
}

p{
    margin-left: 150px;
    margin-right: 150px;
    text-align: justify;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.202);
}

section{
    margin-left: 220px;
    margin-right: 220px;
}

div{
    text-align: center;
}

.img{
    border-radius: 15px;
    width: 320px;
    height: 160px;
    box-shadow: 0px 0px 15px black;
}

.img2{
    border-radius: 15px;
    width: 450px;
    height: 220px;
    box-shadow: 0px 0px 15px black;
}

footer{
    text-align: right;   
    color: rgba(0, 0, 0, 0.53);
}

.nombre{
    margin-bottom: -20px;
}

ul{
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.202);
}